<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
.dropdown {
	display: inline-block;
	margin-right: 30px;
	margin-bottom: 20px;
}
.dropdown-submenu {
	position: relative;
}

.dropdown-submenu .dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -1px;
}
</style>
</head>
<body>

<div class="container">
	<h2 style="text-align: center;">Aspect Annotation Task</h2>
	<p style="text-align: center; margin-bottom: 20px;">Overview goes here, with a link to <a href="#">guidelines</a>.</p>
	<div class="content" style="width: 80%; margin: auto;">
		<div style="background:#EEEEEE; margin-bottom:20px; padding: 20px; border-radius:5px; font-size: 16px;">
		    <h3 id="vid_title">{{vid}}</h3>
			<p id="comment">{{comment}}</p>
		</div>

		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Target
			<span class="caret"></span></button>
			<ul class="dropdown-menu">
				<li><a class="menuitem" tabindex="-1" href="#" id="target_buttigieg">Pete Buttigieg</a></li>
				<li><a class="menuitem" tabindex="-1" href="#" id="target_sanders">Bernie Sanders</a></li>
				<li><a class="menuitem" tabindex="-1" href="#" id="target_warren">Elizabeth Warren</a></li>
				<li><a class="menuitem" tabindex="-1" href="#" id="target_biden">Joe Biden</a></li>
				<li><a class="menuitem" tabindex="-1" href="#" id="target_yang">Andrew Yang</a></li>
			</ul>
		</div>

        <div class="annotations" style="width: 80%; display:inline-block">
		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">General
			<span class="caret"></span></button>
			<ul class="dropdown-menu">
				<li><a class="menuitem" tabindex="-1" href="#" id="general_positive">Positive</a></li>
				<li><a class="menuitem" tabindex="-1" href="#" id="general_negative">Negative</a></li>
			</ul>
		</div>

		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Policy
			<span class="caret"></span></button>
			<ul class="dropdown-menu">
				<li class="dropdown-submenu">
					<a class="test" tabindex="-1" href="#">LGBT+<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a class="menuitem" tabindex="-1" href="#" id="policy_lgbt_positive">Positive</a></li>
						<li><a class="menuitem" tabindex="-1" href="#" id="policy_lgbt_negative">Negative</a></li>
					</ul>
					<a class="test" tabindex="-1" href="#">Economy<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a class="menuitem" tabindex="-1" href="#" id="policy_economy_positive">Positive</a></li>
						<li><a class="menuitem" tabindex="-1" href="#" id="policy_economy_negative">Negative</a></li>
					</ul>
					<a class="test" tabindex="-1" href="#">Education<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a class="menuitem" tabindex="-1" href="#" id="policy_education_positive">Positive</a></li>
						<li><a class="menuitem" tabindex="-1" href="#" id="policy_education_negative">Negative</a></li>
					</ul>
					<a class="test" tabindex="-1" href="#">Immigration<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a class="menuitem" tabindex="-1" href="#" id="policy_immigration_positive">Positive</a></li>
						<li><a class="menuitem" tabindex="-1" href="#" id="policy_immigration_negative">Negative</a></li>
					</ul>
					<a class="test" tabindex="-1" href="#">Race<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a class="menuitem" tabindex="-1" href="#" id="policy_race_positive">Positive</a></li>
						<li><a class="menuitem" tabindex="-1" href="#" id="policy_race_negative">Negative</a></li>
					</ul>
					<a class="test" tabindex="-1" href="#">Healthcare<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a class="menuitem" tabindex="-1" href="#" id="policy_healthcare_positive">Positive</a></li>
						<li><a class="menuitem" tabindex="-1" href="#" id="policy_healthcare_negative">Negative</a></li>
					</ul>
					<a class="test" tabindex="-1" href="#">International<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a class="menuitem" tabindex="-1" href="#" id="policy_international_positive">Positive</a></li>
						<li><a class="menuitem" tabindex="-1" href="#" id="policy_international_negative">Negative</a></li>
					</ul>
					<a class="test" tabindex="-1" href="#">Gender<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a class="menuitem" tabindex="-1" href="#" id="policy_gender_positive">Positive</a></li>
						<li><a class="menuitem" tabindex="-1" href="#" id="policy_gender_negative">Negative</a></li>
					</ul>
					<a class="test" tabindex="-1" href="#">Unspecified<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a class="menuitem" tabindex="-1" href="#" id="policy_unspecified_positive">Positive</a></li>
						<li><a class="menuitem" tabindex="-1" href="#" id="policy_unspecified_negative">Negative</a></li>
					</ul>
					<a class="test" tabindex="-1" href="#">Other<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a class="menuitem" tabindex="-1" href="#" id="policy_other_positive">Positive</a></li>
						<li><a class="menuitem" tabindex="-1" href="#" id="policy_other_negative">Negative</a></li>
					</ul>
				</li>
			</ul>
		</div>

		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Voter Appeal
			<span class="caret"></span></button>
			<ul class="dropdown-menu">
				<li class="dropdown-submenu">
					<a class="test" tabindex="-1" href="#">Unspecified<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a class="menuitem" tabindex="-1" href="#" id="appeal_unspecified_positive">Positive</a></li>
						<li><a class="menuitem" tabindex="-1" href="#" id="appeal_unspecified_negative">Negative</a></li>
					</ul>
					<a class="test" tabindex="-1" href="#">African-American<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a class="menuitem" tabindex="-1" href="#" id="appeal_african_positive">Positive</a></li>
						<li><a class="menuitem" tabindex="-1" href="#" id="appeal_african_negative">Negative</a></li>
					</ul>
					<a class="test" tabindex="-1" href="#">Asian-American<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a class="menuitem" tabindex="-1" href="#" id="appeal_asian_positive">Positive</a></li>
						<li><a class="menuitem" tabindex="-1" href="#" id="appeal_asian_negative">Negative</a></li>
					</ul>
					<a class="test" tabindex="-1" href="#">Hispanic<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a class="menuitem" tabindex="-1" href="#" id="appeal_hispanic_positive">Positive</a></li>
						<li><a class="menuitem" tabindex="-1" href="#" id="appeal_hispanic_negative">Negative</a></li>
					</ul>
					<a class="test" tabindex="-1" href="#">White<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a class="menuitem" tabindex="-1" href="#" id="appeal_white_positive">Positive</a></li>
						<li><a class="menuitem" tabindex="-1" href="#" id="appeal_white_negative">Negative</a></li>
					</ul>
					<a class="test" tabindex="-1" href="#">LGBT+<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a class="menuitem" tabindex="-1" href="#" id="appeal_lgbt_positive">Positive</a></li>
						<li><a class="menuitem" tabindex="-1" href="#" id="appeal_lgbt_negative">Negative</a></li>
					</ul>
					<a class="test" tabindex="-1" href="#">Female<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a class="menuitem" tabindex="-1" href="#" id="appeal_female_positive">Positive</a></li>
						<li><a class="menuitem" tabindex="-1" href="#" id="appeal_female_negative">Negative</a></li>
					</ul>
					<a class="test" tabindex="-1" href="#">Male<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a class="menuitem" tabindex="-1" href="#" id="appeal_male_positive">Positive</a></li>
						<li><a class="menuitem" tabindex="-1" href="#" id="appeal_male_negative">Negative</a></li>
					</ul>
					<a class="test" tabindex="-1" href="#">Old<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a class="menuitem" tabindex="-1" href="#" id="appeal_old_positive">Positive</a></li>
						<li><a class="menuitem" tabindex="-1" href="#" id="appeal_old_negative">Negative</a></li>
					</ul>
					<a class="test" tabindex="-1" href="#">Young<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a class="menuitem" tabindex="-1" href="#" id="appeal_young_positive">Positive</a></li>
						<li><a class="menuitem" tabindex="-1" href="#" id="appeal_young_negative">Negative</a></li>
					</ul>
					<a class="test" tabindex="-1" href="#">Republican<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a class="menuitem" tabindex="-1" href="#" id="appeal_young_positive">Positive</a></li>
						<li><a class="menuitem" tabindex="-1" href="#" id="appeal_young_negative">Negative</a></li>
					</ul>
					<a class="test" tabindex="-1" href="#">Independent<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a class="menuitem" tabindex="-1" href="#" id="appeal_independent_positive">Positive</a></li>
						<li><a class="menuitem" tabindex="-1" href="#" id="appeal_independent_negative">Negative</a></li>
					</ul>
					<a class="test" tabindex="-1" href="#">Democrat<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a class="menuitem" tabindex="-1" href="#" id="appeal_democrat_positive">Positive</a></li>
						<li><a class="menuitem" tabindex="-1" href="#" id="appeal_democrat_negative">Negative</a></li>
					</ul>
					<a class="test" tabindex="-1" href="#">Other<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a class="menuitem" tabindex="-1" href="#" id="appeal_other_positive">Positive</a></li>
						<li><a class="menuitem" tabindex="-1" href="#" id="appeal_other_negative">Negative</a></li>
					</ul>
				</li>
			</ul>
		</div>

		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Campaign Prospects
			<span class="caret"></span></button>
			<ul class="dropdown-menu">
				<li><a class="menuitem" tabindex="-1" href="#" id="campaign_prospects_positive">Positive</a></li>
				<li><a class="menuitem" tabindex="-1" href="#" id="campaign_prospects_negative">Negative</a></li>
			</ul>
		</div>

		<button id="submit-button" class='btn' style="float:right; background:LightCoral;">Submit ▶</button>
	</div>
</div>

<script>
var aspects = []
$(document).ready(function(){
	$('.menuitem').on("click", function(e){
		if (aspects.includes($(this).attr('id'))) {
			$(this).css('background', 'white');
			aspects.pop($(this).attr('id'));
		} else {
			$(this).css('background', 'LightCoral');
			aspects.push($(this).attr('id'));
		}
		console.log(aspects);
		e.stopPropagation();
		e.preventDefault();
	});

	$('.dropdown-submenu .test').on("click", function(e){
		$(this).next('ul').toggle();
		e.stopPropagation();
		e.preventDefault();
	});

	$('#submit-button').on("click", function(e){
		$.post(
            "/submit",
            {
                'aspects': JSON.stringify(aspects),
                'comment': $("#comment").text()
            },
            function(r) {
                resp = JSON.parse(r)
                console.log(resp);
                $("#vid_title").text(resp[0]);
                $("#comment").text(resp[1]);
                $('.menuitem').css('background', 'white')
            }
	    )
	});

});
</script>

</body>
</html>
