<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

div#upload-form {
    width: 300px;
    align: center;
    margin: 0 auto;
}
</style>
</head>
<body>

<div class="container">
	<h2 style="text-align: center;">Aspect Annotation Task</h2>
	<p style="text-align: center; margin-bottom: 20px;">
    Please upload your files here. You will then be directed to the annotation view.
    </p>
    <div id="upload-form">
        <form action="http://localhost:5000/upload" method="POST" enctype="multipart/form-data">
			<input type="file" name="annotate_this" />
			<br>
            <input type="submit" value="Upload dataset!"/>
        </form>
    </div>
</div>